header, main, nav, footer {
   text-align: center;
}

footer{
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

main {
   display:flex;
   justify-content: space-evenly;
   color:#F7C891;
   font-size:.9em;
}

.container-main{
   color:black;
   background-color:#2B5D80;
}

.image-title{
  
  font-size:1.5em;
  
  width:100%;
  margin: 0 auto;
  text-align:center;
  align-content: center;
  
}

.underlined-welcome{
  
   font-size:3em;
   border-bottom:2px solid black;
   width:65%;
   margin: .5em 0 0 0 ;
   text-align:center;
   align-content: center;
   
 }

.body-section{
   display:flex;
   justify-content: center;
   flex-wrap: wrap;

}

.short-body{
   margin: 1em 1em 1em 1em;
   display:flex;
   width:60%;
   align-items: center;
   text-align:center;
}

.align-left{
   display:flex;
   justify-content: space-evenly;
   align-content:center;
   text-align:center;
   max-width: 100%;
   font-size:2.2em;

}

body {
   background-color:white;
   color: black;
}

nav a { /*links with "nav" container */
   padding: 15px;
   padding-bottom:4px;
   font-size:.1em; 
   text-decoration:none; /*removes underline*/
   color:black; /*by default, links are blue*/
}

nav a:hover { /*psudo class*/
   border-bottom:2px orange solid;
   font-size: 1em;
   transition: .9s;
   animation-play-state: paused;   
}

nav a.active{
   color:#024161;
   border-bottom:2px orange solid;
}

.image-center {
   display:flex;
   justify-content:center;
}

.container {
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   background-color: #FFFFFF;
 }
 .main-navigation {
   width: 100%;
   height: 100px;
   background: #FFFFFF;
   margin-top: 0;
 }
 .main-navigation .nav-container {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
 }
 @media (max-width: 500px) {
   .main-navigation .nav-container h1 {
     font-size: 3rem;
   }
 }
 .main-navigation .nav-container nav {
   width: 500px;
   display: flex;
   justify-content: space-evenly;
 }
 @media (max-width: 500px) {
   .main-navigation .nav-container nav {
     width: 100%;
     justify-content: space-around;
   }
 }
 .main-navigation .nav-container a {
   
   color: #212529;
   font-size: 1.2rem;
 }

 .main-navigation .nav-container .active a {
   
   color: #212529;
   font-size: 1.2rem;
 }

 .main-navigation .logo {
    display:flex;
    justify-content: flex-start;
    align-items:center;
 }

 .left-content{
    width:50%;
 }

 .body-container{
    margin: 2em 0 1em 6em;
    display:flex;
    /* justify-content:center; */
    /* justify-content:center; */
    /* align-content: center; */
    width:80%;
    border:2px solid red;

 }

 .right-content{
    margin:1em 0 0 1em;
    border: 2px yellow solid
 }

 .body-paragraphs{
    text-align:center;
    margin: 2em auto;
 }