        <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
        <hr>
        <footer>
            <img src="/img/csumb.png" alt="csumb logo" />
            CST336 Internet Programming 2020&copy; Barbosa <br />
            Homework Assignment 1
            <script></script>
        <figure class="image-center">
            
        </figure>
      </footer>
        <!-- closing footer -->
        
    </body>
    <!-- closing body -->

</html>