<%- include('partials/header.ejs') %>
<!-- closing head -->

        
        <hr />
    
        
        <div class="container-main-java">
            <main class="left-justify">
                <div class="align-left">
                    <img src="/img/mysql-java.jpg" alt="Picture of java logo" />
                   
                </div>
            </main> 
        </div>
            
            <div class="body-section">
                <p class="underlined-source">
                    Getting Ready!
                </p>
                <br>
                <p class="short-body">
                    To connect to MySQL in Java, MySQL implements the Java Database Connection (JDBC)
                    API with a driver. The JDBC API defines how a client may apply CRUD operations;
                    oriented toward relational databases. 
                </p>

            </div>

            
                
            <div class="body-container">
                <ul>
                    <li>
                        First, attain a driver class for the mysql database<br>
                    </li>
                    
                    <li>
                        Second, identify the connection URL for the mysql database using the API, type of database,
                        server name, port number, and the database name. <br>
                    </li>
                    
                    <li>
                        Third, locate username and password for the mysql database (i.e., MySQL workbench credentials)<br>
                    </li>
                    
                    <li>
                        Finally, to close the connection.
                    </li>
    
                    </ul>
                </div>
             

            <div class="body-section">
                <div class="underlined-source">
                    Source
                </div>
            </div>

                <div class="body-container">
                    <iframe width="560" height="315" 
                    src="https://www.youtube.com/embed/2i4t-SL1VsU" 
                     allow="accelerometer; autoplay; 
                    encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
                </div>

            <!-- <div class="body-container-right">
                <section class="left-content">
                    <p class="body-paragraphs">
                        To connect to MySQL in Java, MySQL implements the Java Database Connection (JDBC)
                        API with a driver. The JDBC API defines how a client may apply CRUD operations;
                        oriented toward relational databases. 
                    </p>
                </section>
                <section >
                    <p class="image-title">
                        Node + MySQL
                    </p>
                    <figure>
                        <a href="./node.html">
                        <img src="../img/nodejs-mysql-black.png" alt="Image of MySQL logo and Node logo" class="round-border" >
                        </a>
                    </figure>
                </section>
            </div>

            <div class="body-container">
                <section >
                    <p class="image-title">
                        Python + MySQL
                    </p>
                    <figure>
                        <a href="./python.html">
                        <img src="../img/Mysql-python.png" alt="image of python logo and mysql logo" class="round-border">
                        </a>
                    </figure>
                </section>

                <section class="right-content">
                    <p class="body-paragraphs">
                        To connect to MySQL in Java, MySQL implements the Java Database Connection (JDBC)
                        API with a driver. The JDBC API defines how a client may apply CRUD operations;
                        oriented toward relational databases.
                    </p>
                </section>
            </div> --> 
            
        

        
        
        <!-- This is the footer -->
        <%- include('partials/footer.ejs') %>