<%- include('partials/header.ejs') %>
<!-- closing head -->

 
        
        <hr />
       

        
        <div class="container-main-node">
            <main class="left-justify">
                <div class="align-left">
                    <img src="/img/nodejs-mysql-black.png" alt="logo">
                    
                </div>
            </main>  
        </div>
            
            <div class="body-section">
                <p class="underlined-source">
                    Getting Ready!
                </p>
                <br>
                <p class="short-body">
                   You will need to do two things before you can start with MySQL
                   in Node.JS: make sure MySQL is installed and install npm module.
                </p>

            </div>

            

           

                <div class="body-container">
                    <ul>
                        <li>
                           First, import the mysql module <br>
                        </li>
                        
                        <li>
                           Second, create a connection to the MySQL database that calls the 
                           createConnection() method; which has 4 parameters to fill out: host,
                           user, password, and database.<br>
                        </li>
                        
                        <li>
                           Third, call the connect() method on the connection object to connect to the 
                           MySQL database server.  The connect() method will accept a callback function
                           that has the error argument what provides debugging detail.<br>
                        </li>
                        
                        <li>
                           Finally, to close the connection, one must call the end() method on the connection
                           object.  This ensures that the queries remaining are always executed before the
                           database connection closed.
                        </li>
        
                     </ul>
                </div>

                <div class="body-section">
                    <div class="underlined-source">
                        Source
                    </div>
                </div>

                <div class="body-container">
                    <iframe width="560" height="315" 
                    src="https://www.youtube.com/embed/hGZX_SA7lYg" 
                    allow="accelerometer; autoplay; 
                    encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
                </div>

                
           

          

              
            
        

        
        
        <!-- This is the footer -->
        <%- include('partials/footer.ejs') %>